.navbar navbar-inverse navbar-fixed-top {
	width:100%;
}
.navbar-header {
	width:40%;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header {
	margin-left: 180px
}
.navbar-brand {
	width:50%	
}
.navbar-form navbar-left {
	width:60%
}
.col-lg-2 {
	width:19%;
	float: left;
}
.col-lg-6 {
	width:75%;
	float: left;
	padding-left: 7px
}
.head_div {
	float: left;
}
.head_div a{
	width:75%;
}
.navbar-form {
	margin-left: -6%;
	
}
.navbar-right {
	margin-right: 15.79%;
}

.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand
	{
	margin-left: 25%;
}

.dropdown-menu li {
	float: right;
}

.dropdown-menu {
	min-width: 4.86%;
}

#searchInfo {
	width: 220px
}

#info {
	padding-top: 13px
}

#aboutusInfo {
	font-size: 15px;
}
.navbar navbar-inverse navbar-fixed-top {
	width:95%;!important
}