html, body{
  height: 90%;
  width: 99%;
  vertical-align: center;
  margin: 0px;
  padding: 0px;
}
.all {
	height: 90%;
  width: 100%;
}
.first {
	text-align: center;
	margin-top: 6%;
	height: 30%
}
.first div {
	float: left;
	text-align: center;
}

.first .first_1{
	 position: relative;
	 left: 21%;
	 top: 50%;
	 margin-top: 6%;
	 margin-right: -10%;
}
.first .first_2{
	 position: relative;
	 left: 36%;
	 top: 50%;
}
.first .first_3{
	 position: relative;
	 left: 52%;
	 top: 50%;
	 margin-top: 6%;
	 margin-left: -12%;
}
.first .name {
	color:red;
	font-weight:bold;
}
.times {
	color: red;
}
.second {
	height:60%;
	width:100%;
	text-align: center;
	margin-bottom: 6.0%;
	margin-top: 18%;
	z-index: 100;
}
.cntSeparator { display: none; }

.cntDigit {
  margin-top: 100px !important;
}

/* .cntDigit#cnt_0 { margin-left: 30px; }
.cntDigit#cnt_2 { margin-left: 5px; } */
/* .cell {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
} */
#holder {
  margin: auto;
}
.digits {
	position: absolute;
	margin-bottom: 40px;
}

#cnt_0.cntDigit {
	margin-left: -41px;
	margin-top: -2px !important;
}

.foot {
	float: left;
	padding-left: 40%;
	position: relative;
	margin-bottom: -2%
}

.copyRight {
	height: 29px
}

#nav1 {
	display: none;
}

#nav2 {
	display: block;
}