#maven
target/
target-test/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.settings/
*.classpath
*.project
.MF
*.properties
*.checkstyle
src/main/webapp/WEB-INF/work/
src/main/webapp/WEB-INF/temp/
#java
*.class
*.jar
*.war
*.ear

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini